<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.27.0.min.css" />
  <link rel="stylesheet" href="/css/styles.css">
  <title>Canonical</title>
</head>

<body>
  <section class="p-strip--image is-light">
    <div class="row">

      <% articles.forEach(function (article, index) { %>
        <div class="col-4 p-card--highlighted">
          <div class="p-card--overlay">
            <h2>CLOUD AND SERVER</h2>
            <hr>
            <img src="<%- article.featured_media %>" alt="">
            <h3>
              <%- article.title.rendered %>
            </h3>
            <p>
              By
              <a href="#">
                <%- article._embedded.author[0].name %>
              </a>
              on
              <%- article.date %>
            </p>
            <hr>
            <p>
              <%- article.excerpt.rendered %>
            </p>
          </div>
        </div>
        <% }) %>

    </div>
  </section>




</body>

</html>